<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>웹페이지</title>
</head>
<body>

  <!-- 상단바 -->
  <header>
    <div id="logo">로고</div>
    <nav>
      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/festival">축제정보</a></li>
        <li><a href="/aischedule">Ai 일정추천</a></li>
        <li><a href="/aichat">AI(챗봇)가이드</a></li>
      </ul>
    </nav>
    <div id="login">
      <a href="/login">로그인</a>
    </div>
  </header>

  <!-- 페이지별 콘텐츠 -->
  <div id="content">
    <h1>메인 페이지</h1>
  </div>
  <script src=""></script>
</body>
</html>
